<footer class="footer">
	<small>
		Naomi Sanchez Modelling&copy; by <a href="http://www.thefadco.co.uk">The Fanatical About Design Co</a> powered by 
		<%= link_to image_tag("rails.png", id: "rails", alt: "rails logo"), 'http://rubyonrails.org/' %>
	</small>
	<nav>
		<ul>
            <li><%= link_to "Home", 'pages#index' %></li>
            <li><%= link_to "About", 'pages#about' %></li>
            <li><%= link_to "Portfolio", 'pages#portfolio' %></li>
            <li><%= link_to "Writing", 'page#writing' %></li>
            <li><%= link_to "Contact", 'pages#contact' %></li>
		</ul>
	</nav>
</footer>