<footer class="footer">
	<small>
		Naomi Sanchez Modelling&copy; by <a href="http://www.thefadco.co.uk">The Fanatical About Design Co</a> powered by 
		<%= link_to image_tag("rails.png", id: "rails", alt: "rails logo"), 'http://rubyonrails.org/' %>
	</small>
	<nav>
		<ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Portfolio", portfolio_path %></li>
            <li><%= link_to "Writing", writing_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>