<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Naomi Sanchez Modelling", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", 'pages#index' %></li>
            <li><%= link_to "About", 'pages#about' %></li>
            <li><%= link_to "Portfolio", 'pages#portfolio' %></li>
            <li><%= link_to "Writing", 'page#writing' %></li>
            <li><%= link_to "Contact", 'pages#contact' %></li>
          </ul>
        </nav>
      </div>
    </header>